body{
  background-image: url(../../images/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-container {
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: "center";
}

.card-img{
    height: 80%;
    width: 80%;
} 
